/* Put your CSS here */
.ember-application {
    margin: 0px;
}

html, body {
  min-height: 100%;
}

/**** nav ****/
.navbar-brand, .navbar-nav li a {
  line-height: 38px;
  height: auto;
}

.navbar .container .navbar-brand {
  margin-left: 15px;
}

.navbar {
  border-radius: 0px;
  font: 16px 'Montserrat', serif;
}

.navbar-inverse {
  background-image: linear-gradient(to bottom,#313131 0,#313131 100%);
}
/**** /nav ****/

a {
	cursor: pointer;
}

h1 {
  font: 400 80px/1.2 'Nixie One', Georgia, serif;
  color: #5ED5C2;
}
 
p {
  font: 400 15px/1.6 'Ledger', Garamond, Georgia, serif;
}

hr {
  size: 5;
}

.post:after {
  content:' ';
  display:block;
  border:1px solid #eee;
  margin: 70px 0px 50px 0px;
}

.post:last-of-type:after {
  content: '';
  border: none;
}

body {
  font: 400 15px/1.6 'Ledger', Garamond, Georgia, serif;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(249,249,249,1) 62%, rgba(239,239,239,1) 70%, rgba(204,204,204,1) 99%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(62%,rgba(249,249,249,1)), color-stop(70%,rgba(239,239,239,1)), color-stop(99%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 62%,rgba(239,239,239,1) 70%,rgba(204,204,204,1) 99%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 62%,rgba(239,239,239,1) 70%,rgba(204,204,204,1) 99%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 62%,rgba(239,239,239,1) 70%,rgba(204,204,204,1) 99%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 62%,rgba(239,239,239,1) 70%,rgba(204,204,204,1) 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

