/* Put your CSS here */
.ember-application {
    margin: 0px;
}

/**** nav ****/
.navbar-brand, .navbar-nav li a {
  line-height: 38px;
  height: auto;
}

.navbar {
  border-radius: 0px;
}

.navbar-inverse {
  background-image: linear-gradient(to bottom,#313131 0,#313131 100%);
}
/**** /nav ****/

a {
	cursor: pointer;
}

h1 {
  font: 400 80px/1.2 'Nixie One', Georgia, serif;
}
 
p {
  font: 400 15px/1.6 'Ledger', Garamond, Georgia, serif;
}